# Git Ignore


# macOS
.DS_Store
*.zip


# outputs
**/simulation_output/
**/sensitivity_results/
**/pdl1_pd1_false/
**/**

# jupyter notebook checkpoints
**/.ipynb_checkpoints/

# python cache
**/__pycache__/


# any images
**/*.png


